@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply font-sans;
  background: #fff;
}
